body
{
    background-color: #dbcece;
}

/*__________________NavBar CSS___________________*/
header nav a.navbar-brand
{
    font-size: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

nav.navbar li.nav-item a.nav-link
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: white;
}

nav.navbar li.nav-item a.nav-link:hover
{
    background-color: orange;
}

div.banner-image
{
    background-image: url('../assets/images/technologie.jpg');
    background-size: cover;
}

nav.customBg
{
    background-color: #333636;
}

/*_______________________Profile Card Personnage CSS______________________*/
.card
{
    box-shadow: 0 0 30px #00000080;
    border-radius: 10px;
}
.card:hover
{
    background-color: #aa8989;
    color: white;
}

.text-center
{
    padding-bottom: 20px;
}

.text-center i
{
    font-size: 20px;
    padding: 0 10px;
    color: blue ;
}